<h3>CREDITS</h3>
<table border="2px">
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>GitHub Username</th>
    <th>Year started</th>
  </tr>
  <tr>
    <td>Matthew Burket</th>
    <td>Lead Developer</td>
    <td><%= link_to "Mab879", "https://github.com/mab879"%>
    <td>2011</td>
  </tr>
</table>